* {
    box-sizing: border-box;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
            sans-serif;
    font-weight: normal;
    font-style: normal;
}

body, html {
    margin: 0;
    padding: 0;

    font-size: 16px;
}

body {
    background-color: steelblue;

    color: black;
}

/* Header *********************************************************************/
header {
    display: flex;
    justify-content: space-between;
    align-items: end;

    border-bottom: 2px solid black;
    padding: 40px 20px 0;

    background-color: white;
}

h1 {
    margin: 0;
    padding: 0 0 32px;

    font-size: 3rem;
}

nav {
    display: flex;

    gap: 20px;
}

.tab-button {
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    border-bottom: none;
    border-width: 2px;
    padding: 8px 32px;

    background-color: transparent;

    font-size: 2rem;
}

.tab-button-selected {
    background-color: lightsteelblue;
}

/* Main ***********************************************************************/
main {
    padding: 40px 15vw;

    background-color: steelblue;
}

h2 {
    margin: 0;

    font-size: 2.8rem;
    text-align: center;
}

main > * {
    border-radius: 20px;
    padding: 80px 60px;

    background-color: aliceblue;
}

/* Home ***********************************************************************/
.home-text {
    font-size: 1.8rem;
}

#opening-hours-text {
    text-align: center;
}

#opening-hours-list {
    margin: 0;

    list-style-type: none;

    font-size: 1.7rem;
    text-align: center;
}

#opening-hours-list > li {
    margin: 10px 0;
}

/* Menu ***********************************************************************/
#menu > p {
    font-size: 2rem;
    text-align: center;
}

#menu-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 8px;
}

.menu-section-heading {
    font-size: 2rem;
    font-weight: bold;
}

.menu-item {
    border-bottom: 1px solid black;
}

.menu-item > h4 {
    font-size: 1.3rem;
}

.menu-item > p {
    font-size: 1.1rem;
}

/* Contact *********************************************************************/
#contact {
    
}

.contact-article {

}

.contact {
    margin: 40px 0;
    border: 2px solid black;
    padding: 10px 20px;

}

.contact-heading {
    font-size: 2rem;
    text-align: center;
}

.contact > p {
    font-size: 1.5rem;
}

.contact-detail {
    text-decoration: underline;
}

.contact-detail:hover {
    color: darkgreen;
    text-decoration-style: dotted;

    cursor: pointer;
}

#contact-social {

}

.social-list {
    display: flex;
    justify-content: space-around;

    margin: 40px 0;

    font-size: 1.5rem;
    
    list-style-type: none;
}

/* Footer *********************************************************************/
footer {
    border-top: 2px solid black;
    padding: 40px 10vw;

    background-color: white;
}
